.header {
  background-color: rgb(236, 111, 117);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  position: absolute;
  right: 20px;
  top: 15px;
  background-color: white;
  color: rgb(236, 111, 117);
}
